<h1>Email: <%= @user.email %></h1>
<%= gravatar_for @user %>
<a href="http://gravatar.com/emails">change</a>
<%= form_for @user, :url => { :action => "update" }, :html => {:class => "nifty_form"} do |f| %>


  <h3>Name: <%= f.text_field :name %></h3>
<h3>Birthday: <%= date_select :user, :birthday, :start_year => 1950, :end_year=>Time.now.year%></h3>

<h3>Ethnicity: <%= collection_select(:user, :ethnicity_id, Ethnicity.all, :id, :name, :prompt =>true) %></h3>
  <%= f.submit "Save Changes" %>
<% end %>
